@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap");
:root {
  --color-black: #000;
  --color-gray-1: #333;
  --color-gray-2: #4F4F4F;
  --color-gray-3: #C4C4C4;
  --color-gray-4: #BDBDBD;
  --color-white: #fff;
  --color-secondary:#F2994A; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.heading-1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--color-black); }

.paragraph {
  font-family: "Montserrat", serif;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  color: var(--color-gray-2); }

.u-mb-small {
  margin-bottom: 2rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.checkbox-group {
  margin-top: 2rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center; }
  .checkbox-group__checkbox {
    display: none; }
  .checkbox-group__checkbox:checked + .checkbox-group__checkmark {
    background-color: var(--color-secondary); }
  .checkbox-group__checkbox:checked + .checkbox-group__checkmark::after {
    opacity: 1; }
  .checkbox-group__checkmark {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--color-gray-3);
    border-radius: 3px;
    background-color: transparent;
    margin-right: 0.5rem;
    position: relative;
    transition: background-color 0.2s; }
    .checkbox-group__checkmark::after {
      content: "";
      position: absolute;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      transition: all 0.2s; }

.wrapper {
  width: 100rem;
  margin: auto; }

.subtitle {
  display: flex;
  align-items: flex-start; }
  .subtitle__icon {
    margin-right: 1rem;
    transform: translateY(5px); }

.recipe-img {
  width: 100%;
  height: auto; }
