.wrapper {
    max-width: 100rem;
    padding: 0 2.5rem;
    margin: auto;
}

.subtitle {
    display: flex;
    align-items: flex-start;

    &__icon {
        margin-right: 1rem;
        transform: translateY(5px);
    }
}

.container {
    display: grid;
    grid-template-columns: minmax(min-content, 75%) 1fr;
    column-gap: 2rem;
}


.recipe-img {
    width: 100%;
    height: auto;
}